.sub-menu {
  width: 230px;
  background: #fff;
  z-index: 2;
  position: fixed;
  left: 120px;
  border-left: 1px solid #f3f3f3;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .1), 0 3px 20px rgba(0, 0, 0, .1);
  transition: transform .3s linear;
  height: calc(100% - 100px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  border-radius: 0 .75rem .75rem 0;

  &.menu-hidden {
    transform: translateX(-230px);
  }

  &.menu-closed {
    transform: translateX(-350px);
  }

  .scroll {
    margin-right: unset;
    padding-right: unset;
    height: 100%;

    &-container {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
