.menu-button {
  color: #8f8f8f;
  width: 120px;
  text-align: center;

  svg {
    height: 12px;
  }

  .main, .sub {
    fill: #8f8f8f;

    &.opened {
      fill: #303030;
    }

    transition: fill .3s linear;
  }

  .main {
    width: 10px;
  }
}

.menu-button-mobile {
  color: #8f8f8f;
  text-align: center;
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .menu-button-mobile {
    width: 20px;
  }
}

