.main-menu {
  width: 120px;
  height: calc(100% - 100px);
  background: #fff;
  z-index: 3;
  position: fixed;
  transition: transform .3s linear;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;

  &.menu-closed {
    transform: translateX(-120px);
  }

  &.menu-rounded {
    border-radius: 0 .75rem .75rem 0;
  }

  .scroll {
    padding-right: unset;
    margin-right: unset;
    height: 100%;
  }
}
