.main-menu-item {
  cursor: pointer;
  user-select: none;

  &.active, &:hover {

    .main-menu-link {
      color: #922c88;

      svg {
        fill: #922c88;
      }
    }
  }

  &.active {
    .main-menu-link {
      &:after {
        content: '';
        background: #922c88;
        border-radius: 10px;
        position: absolute;
        width: 6px;
        height: 90px;
        left: 0;
      }
    }
  }

  .main-menu-link {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #f3f3f3;
    color: #303030;
    padding: 0;
  }
}
