.sign-up-form {
  margin-top: 100px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rebeccapurple;

  .input {

    &:focus {
      border-color: #922c88;
    }
  }

  .help-link {
    text-align: center;
    margin-top: 15px;

    &-text {
      color: grey;
      opacity: .5;
      transition: opacity .2s linear, text-decoration .2s linear;

      &:hover, &:focus {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  .submit-button:focus {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 0 7px 0 rebeccapurple;
  }
}
