@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");

body {
  font-family: Nunito, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: #303030;
}

.navbar {
  padding: 1.5rem 0;
}

.btn, .dropdown-item {
  font-size: .8rem;
}

.dropdown-menu {
  border-radius: .75rem;
}
